/*
colors:
blue-gray: #E8ECF0;
med gray: #8490A3;
dk-blue: #182E4F;
gold: #A38453;
*/

body {
	background-color: #fff;
	color: #182E4F;
}
.page-wrapper {
	width: auto;
}
header {
	position: relative;
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #e8ecf0;
	box-sizing: border-box;
	border: 1px solid #8490A3;
	border-top: 0;
}
main {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 2em 3ex;
	box-sizing: border-box;
	border: 1px solid #8490A3;
	border-top: 0;
}
article {
	position: relative;
	overflow: hidden;
	margin-top: 3ex;
	box-sizing: border-box;
}
.apple-cart-logo {
	position: absolute;
	left: 1em;
	top: 0.7ex;
	width: 60px;
}
[aria-controls="placeOrder"] {
	position: absolute;
	right: 1.5em;
	top: 2ex;
}
[aria-controls="shipAddress"] {
	position: absolute;
	right: 4px;
	top: 1px;
}
h1 {
	border: none;
	text-align: center;
	padding: 0;
	margin: 1ex 0;
	}
article h2 {
	margin-top: 0;
}
.btn {
	color: white;
	background-color: #A38453;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: none;
	-webkit-box-shadow: 2px 2px 1px 0px #000;
	box-shadow: 2px 2px 1px 0px #000;
}
.ship-to {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}
.ship-to .name {
	margin-bottom: 0;
	font-weight: bold;
}
.cost-summary {
	display: inline-block;
	width: 40%;
	margin-left: 10%;
	vertical-align: top;
}
.itemization {
	overflow: hidden;
}
.itemization > * {
	display: inline-block;
}
.itemization.total {
	font-weight: bold;
	margin-top: 1ex;
}
.itemization > .price {
	float: right;
}
.cart-item {
	display: inline-block;
	width: 45%;
	margin-left: 5%;
}
.cart-item:first-of-type {
	margin-left: 0;
}
.cart-item img {
	float: left;
	margin-right: 1em;
}