/*
light gray: #f2f2f2;
med gray: #e6e6e6;
dark gray: #777777;
orange: #df7000;
green: ##0D8000;
*/
body {
    background-color: #e6e6e6;
    font-size: 1.5rem;
}
.search-bar {
    border-bottom: 1px solid #D5D5D5;
    text-align: right;
    box-sizing: border-box;
    padding: 0;
}
.search-bar button {
    background-color: #0D8000;
    font-size: 1.3rem;
    height: 30px;
    vertical-align: bottom;
}
.banner {
    background-color: #0D8000;
    overflow: hidden;
}
h1 {
    border: none;
    text-transform: none;
    color: white;
    float: left;
    margin: 0;
    padding: .5ex 0;
}
.breadcrumbs {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.breadcrumb:last-child {
    background-color: #e6e6e6;
}
.bread-link {
    color: black;
    font-weight: normal;
    padding: 0;
    display: block;
}
.breadcrumb:first-child .bread-link {
}
.bread-link:after {
    content: "\00bb";
    padding: 0 .5em 0 1em;
}
.breadcrumb:last-child .bread-link:after {
    content: "";
}
.cta {
    float: right;
    margin: 0;
    padding: 0;
}
.cta-item {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.cta-item:first-child {
    border: none;
}
.cta button {
    border: none;
    display: block;
    color: white;
    background-color: #0D8000;
    padding: 2ex 0 .5ex .5em;
    height: auto;
    width: 100%;
    font-weight: bold;
}
article {
    overflow: hidden;
    padding: 0;
}
h2 {
    font-weight: normal;
    color: #777;
    padding: 0;
    border-bottom: 1px solid #0D8000;
    margin: .25ex 0;
}
.ingredients {
    width: 20%;
    float: left;
    border: 2px solid #0D8000;
}
.ingredients ul,
.directions ul {
    margin: 0;
    padding: 0;   
}
.ingredients li {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1;
}
